@model ILK_Protokoll.Models.Comment

<div class="comment-panel-group">
	<p class="comment-author" title="@Model.Created.ToString("F")">@Model.Author</p><p class="panel comment-content">@Model.Content</p>
</div>