@using System.Reflection

@if (System.Environment.MachineName == "ILK-PROTO")
{
	<hr style="clear: both;" />
	<p class="visible-xs">Extra small</p>
	<p class="visible-sm">Small</p>
	<p class="visible-md">Medium</p>
	<p class="visible-lg">Large</p>
	
	<hr style="clear: both;" />
	
	<button type="button" class="btn btn-default">Default</button>
	<button type="button" class="btn btn-primary">Primary</button>
	<button type="button" class="btn btn-success">Success</button>
	<button type="button" class="btn btn-info">Info</button>
	<button type="button" class="btn btn-warning">Warning</button>
	<button type="button" class="btn btn-danger">Danger</button>
}

<hr style="clear: both;" />
<footer>
	<p>&copy; @DateTime.Now.Year &#8211; <i>iwb</i>, Technische Universität München</p>
	@{
		Assembly thisAssem = typeof(MvcApplication).Assembly;
		Version ver = thisAssem.GetName().Version;
	}
	<p>
		Version @ver.ToString(2)<br />
		Build @ver.Build.ToString()
	</p>
</footer>