@using System.Reflection
<hr style="clear: both;" />
<footer>
	<p><a href="@Url.Action("About", "Home", new { Area="" })">&copy; 2014</a> &#8211; <i>iwb</i>, Technische Universität München</p>
	@{
		Assembly thisAssem = typeof(MvcApplication).Assembly;
		Version ver = thisAssem.GetName().Version;
	}
	<p>
		Version @ver.ToString(2)<br />
		Build @ver.Build.ToString()
	</p>
</footer>