<script type="text/javascript">
	$("a[rel=popover]")
		.popover({ html: true })
		.click(function(e) {
			e.preventDefault();
		});

	$("time[rel=timeago]").timeago();

	$(document).ready(function() {
			$("table.table-sortable").tablesorter();
		}
	);

	function enablePopovers() {
		$('.popover-markup > .trigger').popover({
			html: true,
			content: function() {
				return $(this).parent().find('.content').html();
			},
			container: 'body',
			placement: 'bottom'
		}).click(function(e) {
			e.stopPropagation();
		});
	}

	enablePopovers();

	$('html').click(function(e) {
		$('.popover-markup > .trigger').popover('hide');
	});

	function DisplayErrorMessage(id, text) {
		if (id) {
			$(id).after('<div class="alert alert-danger alert-dismissable"><button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button><strong>Fehler: </strong>' + text + '</div>');
		} else {
			$(".body-content").prepend('<div class="alert alert-danger alert-dismissable"><button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button><strong>Fehler: </strong>' + text + '</div>');
		}
	}

	function DisplayInfoMessage(id, text) {
		if (id) {
			$(id).after('<div class="alert alert-info alert-dismissable"><button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button><strong>Fehler: </strong>' + text + '</div>');
		} else {
			$(".body-content").prepend('<div class="alert alert-info alert-dismissable"><button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button><strong>Fehler: </strong>' + text + '</div>');
		}
	}

	function DisplaySuccessMessage(id, text) {
		if (id) {
			$(id).after('<div class="alert alert-success alert-dismissable"><button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button><strong>Fehler: </strong>' + text + '</div>');
		} else {
			$(".body-content").prepend('<div class="alert alert-success alert-dismissable"><button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button><strong>Fehler: </strong>' + text + '</div>');
		}
	}
</script>