<script type="text/javascript">
	$("a[rel=popover]")
		.popover({ html: true })
		.click(function(e) {
			e.preventDefault();
		});

	$("time[rel=timeago]").timeago();

	$(document).ready(function() {
			$("table.table-sortable").tablesorter();
		}
	);

	function enablePopovers() {
		$('.popover-markup > .trigger').popover({
			html: true,
			content: function() {
				return $(this).parent().find('.content').html();
			},
			container: 'body',
			placement: 'bottom'
		}).click(function(e) {
			e.stopPropagation();
		});
	}

	enablePopovers();

	$('html').click(function(e) {
		$('.popover-markup > .trigger').popover('hide');
	});

	// Datepicker für Internet Explorer und Firefox
	// Diese unterstützen leider noch nicht <input type="date" />
	function enableDatePicker(selector) {
		if (!Modernizr.inputtypes.date) {
			$.datepicker.setDefaults($.datepicker.regional["de"]);

			if (!selector)
				selector = 'input[type=date]:not(.hasDatepicker)';
			var datefields = $(selector);

			datefields.each(function() {
				var realname = this.name;
				this.name = this.name + "_disp";
				$(this).after('<input type="hidden" name="' + realname + '" value="' + this.value + '" />');
				reformatDateField(this);

				$(this).datepicker({
					dateFormat: "dd.mm.yy",
					altField: "input[name=" + realname + "]",
					altFormat: "yy-mm-dd",
					constrainInput: false,
					showOtherMonths: true,
					selectOtherMonths: true,
					numberOfMonths: 2,
					showWeek: true,
					firstDay: 1,
					monthNames: [
						'Januar', 'Februar', 'M&auml;rz', 'April', 'Mai', 'Juni',
						'Juli', 'August', 'September', 'Oktober', 'November', 'Dezember'
					],
					monthNamesShort: [
						'Jan', 'Feb', 'M&auml;r', 'Apr', 'Mai', 'Jun',
						'Jul', 'Aug', 'Sep', 'Okt', 'Nov', 'Dez'
					],
					dayNames: ['Sonntag', 'Montag', 'Dienstag', 'Mittwoch', 'Donnerstag', 'Freitag', 'Samstag'],
					dayNamesShort: ['So', 'Mo', 'Di', 'Mi', 'Do', 'Fr', 'Sa'],
					dayNamesMin: ['So', 'Mo', 'Di', 'Mi', 'Do', 'Fr', 'Sa'],
					weekHeader: 'KW',

					onClose: function (dateText, inst) {
						if (dateText == '') {
							$(inst.settings["altField"]).val(dateText);
						}
					}
				});
			});
		}
	}

	function reformatDateField(field) {
		var initialValue = field.value;
		var dateObj = new Date(initialValue);

		var formattedDate = "tt.mm.jjjj";
		if (!isNaN(dateObj.getDate())) {
			formattedDate = dateObj.getDate() + "." + (dateObj.getMonth() + 1) + "." + dateObj.getFullYear();
		}

		field.value = formattedDate;
		if (field.name.indexOf(field.nextElementSibling.name) == 0) {
			field.nextElementSibling.value = initialValue;
		}
	}

	enableDatePicker();

	function DisplayErrorMessage(id, text) {
		if (id) {
			$(id).after('<div class="alert alert-danger alert-dismissable"><button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button><strong>Fehler: </strong>' + text + '</div>');
		} else {
			$(".body-content").prepend('<div class="alert alert-danger alert-dismissable"><button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button><strong>Fehler: </strong>' + text + '</div>');
		}
	}

	function DisplayInfoMessage(id, text) {
		if (id) {
			$(id).after('<div class="alert alert-info alert-dismissable"><button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button><strong>Information: </strong>' + text + '</div>');
		} else {
			$(".body-content").prepend('<div class="alert alert-info alert-dismissable"><button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button><strong>Information: </strong>' + text + '</div>');
		}
	}

	function DisplaySuccessMessage(id, text) {
		if (id) {
			$(id).after('<div class="alert alert-success alert-dismissable"><button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button><strong>Vorgang erfolgreich: </strong>' + text + '</div>');
		} else {
			$(".body-content").prepend('<div class="alert alert-success alert-dismissable"><button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button><strong>Vorgang erfolgreich: </strong>' + text + '</div>');
		}
	}
</script>