<script type="text/javascript">
	$("a[rel=popover]")
		.popover({ html: true })
		.click(function(e) {
			e.preventDefault();
		});

	$("time[rel=timeago]").timeago();


	$('.popover-markup > .trigger').popover({
		html: true,
		content: function() {
			return $(this).parent().find('.content').html();
		},
		container: 'body',
		placement: 'bottom'
	}).click(function(e) {
		e.stopPropagation();
	});

	$('html').click(function(e) {
		$('.popover-markup > .trigger').popover('hide');
	});

	function removeAttachment(element) {
		if ($(element).siblings().length == 0) {
			$(element).parent().parent().replaceWith("<div class=\"panel-body\" id=\"attachments_@ViewBag.TopicID\">Keine Dateianhänge vorhanden.</div>"); // Remove the whole table
		} else {
			$(element).remove();
		}
	}

	function DisplayErrorMessage(text) {
		$('#alerts').append('<div class="alert alert-danger alert-dismissable"><button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</utton><strong>Fehler: </strong>' + text + '</div>');
	}
	function DisplayInfoMessage(text) {
		$('#alerts').append('<div class="alert alert-info alert-dismissable"><button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</utton><strong>Fehler: </strong>' + text + '</div>');
	}
	function DisplaySuccessMessage(text) {
		$('#alerts').append('<div class="alert alert-success alert-dismissable"><button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</utton><strong>Fehler: </strong>' + text + '</div>');
	}
</script>