@model HandleErrorInfo
@{
	ViewBag.Title = "Fehler";
}

<h3 class="text-danger">Fehler: Ihre Anfrage konnte nicht bearbeitet werden.</h3>
<dl class="dl-horizontal">
	<dt>Controller:</dt>
	<dd>@Model.ControllerName</dd>

	<dt>Methode:</dt>
	<dd>@Model.ActionName</dd>

	<dt>Fehlermeldung:</dt>
	<dd>@Model.Exception.Message</dd>
</dl>