@using ILK_Protokoll.Models
@model Attachment

<div class="panel-body">
	@foreach (var comment in Model)
	{
		Html.RenderPartial("~/Views/Comments/_Comment.cshtml", comment);
	}

	@Html.Action("_CreateForm", "Comments", new { TopicID = ViewBag.TopicID })
</div>