@model IEnumerable<ILK_Protokoll.Models.Document>

<div class="file-list" id="attachments_@ViewBag.EntityID">
	@foreach (var file in Model)
	{
		Html.RenderPartial("~/Views/Attachments/_AttachmentTile.cshtml", file);
	}
</div>