@using ILK_Protokoll.Controllers
@model ILK_Protokoll.Models.Attachment
@{
	string iconname = Model.Extension ?? "default";
	if (!((HashSet<string>) ViewBag.KnownExtensions).Contains(iconname))
	{
		iconname = "default";
	}

	string fileurl = AttachmentsController.VirtualPath + Model.ID;
}<a href="@Url.Content(fileurl)" class="btn btn-default">
	 <img src="~/img/fileicons/@(iconname).png" height="16" />
	 @Model.DisplayName
 </a>