@model ILK_Protokoll.Models.Document
@{
	string iconname = Model.LatestRevision.Extension ?? "default";
	if (!((HashSet<string>)ViewBag.KnownExtensions).Contains(iconname))
	{
		iconname = "default";
	}
}<a href="@Url.Action("DownloadNewest", "Attachments", new {id = Model.GUID})" target="_blank" class="btn btn-default">
	 <img src="~/img/fileicons/@(iconname).png" height="16" />
	 @Model.DisplayName
 </a>