@using ILK_Protokoll.util
@model ILK_Protokoll.Models.Topic

<div class="panel panel-primary" id="proposal-panel">
	<div class="panel-heading">
		<div class="panel-title-right">
			<p>
				@if (!Model.IsReadOnly && !Model.IsLocked && ViewBag.IsEditable)
				{
					<a data-ajax="true" data-ajax-mode="replace-with" data-ajax-update="#proposal-panel" href="@Url.Action("_EditProposal", new {id = Model.ID})"
					   title="Bearbeiten"><i class="glyphicon glyphicon-edit"></i></a>
				}
			</p>
		</div>
		<h3 class="panel-title">
			@Html.DisplayNameFor(model => model.Proposal)
		</h3>
	</div>
	<div class="panel-body">
		@Html.DisplayWithLinksFor(model => model.Proposal, "String_Multiline")
	</div>
</div>