@using ILK_Protokoll.Models
@{
	ViewBag.Title = "Dashboard";
}

<h2>Aufgaben</h2>
<div class="row">
	<div class="col-lg-6">
		<div class="panel panel-primary">
			<div class="panel-heading">
				<h3 class="panel-title">Meine ToDo's</h3>
			</div>
			<div class="panel-body">
				Panel content
			</div>
		</div>
	</div>

	<div class="col-lg-6">
		<div class="panel panel-primary">
			<div class="panel-heading">
				<h3 class="panel-title">Meine Umsetzungsaufgaben</h3>
			</div>
			<div class="panel-body">
				Panel content
			</div>
		</div>
	</div>
</div>
<hr />
<h2>Diskussionspunkte</h2>
<div class="row">
	@foreach (Topic t in ViewBag.Topics)
	{
		Html.RenderPartial("~/Views/Topics/_Topic.cshtml", t);
	}
</div>