@using ILK_Protokoll.util
@model ILK_Protokoll.ViewModels.FilteredAssignments

@{
	ViewBag.Title = "Aufgaben";

}

<h2>@ViewBag.Title</h2>

@{ Html.RenderPartial("~/Views/Assignments/_DetailedTable.cshtml", Model.Assignments); }
