@using ILK_Protokoll.Models
@model IEnumerable<Attachment>

@{
	ViewBag.Title = "Listenverwaltung";
}

@Html.ActionLink("Neue Liste", "Index", null, new { @class = "index-action btn btn-primary" })

<h2>@ViewBag.Title</h2>