@model Int32

<h3>Papierkorb leeren?</h3>

<p>Es werden @Model Dokumente permanent gelöscht.</p>


@using (Html.BeginForm("Purge", "RecycleBin", FormMethod.Post))
{
	@Html.AntiForgeryToken()
	<div class="form-group">
		@Html.ActionLink("Abbrechen", "Index", null, new {@class = "btn btn-lg btn-default"})

		<input type="submit" value="Papierkorb leeren" class="btn btn-lg btn-danger" />
	</div>
}