@using ILK_Protokoll.Areas.Session.Models
@using ILK_Protokoll.Models
@model ICollection<Topic>


@{
	ViewBag.Title = "Diskussion";
	var session = (ActiveSession)ViewBag.CurrentSession;
}

<div class="index-action">
	@Html.ActionLink("Zurück", "Index", "Lists", new { Area = "Session" }, new { @class = "btn btn-default" })
	@Html.ActionLink("Weiter", "Index", "Finalize", new { Area = "Session" }, new { @class = "btn btn-primary" })
</div>

<h2>@ViewBag.Title</h2>

<div class="row">
	@foreach (var topic in Model)
	{
		<div class="col-lg-6 col-md-12">
			@if (topic.IsLocked)
			{
				<div class="buttongroup" id="state_buttons_@topic.ID">
					@{ Html.RenderPartial("_StateButtons", topic.Lock); }
				</div>
			}
			@{ Html.RenderPartial("~/Views/Topics/_Topic.cshtml", topic); }
		</div>
	}
</div>