@model Boolean
@if (Model)
{
	<span class="text-success glyphicon glyphicon-ok"></span><i class="sr-only">Ja</i>
}
else
{
	<span class="text-danger glyphicon glyphicon-remove"></span><i class="sr-only">Nein</i>
}