@using ILK_Protokoll.util
@model ILK_Protokoll.Models.Tag
<span class="label" style="color: @Model.FontColor.ToHex(); background-color: @Model.BackgroundColor.ToHex();" data-tagid="@Model.ID">@Model.Name</span>