@using ILK_Protokoll.Models
@{
	var user = (User)ViewBag.User;
	var name = string.Join(" ", user.LongName.Split(',').Reverse()).Trim();
}

<h2>Hallo @name,</h2>

<p>herzlich willkommen beim ILK-Protokoll. Sie sind hiermit registriert und können das Programm ab sofort benutzen.</p>

<p>Das ILK-Protokoll ist gewöhnlich unter <a href="http://02mucilk/">http://02mucilk/</a> zu erreichen, oder unter <a href="http://02mucilk.iwb.mw.tu-muenchen.de">http://02mucilk.iwb.mw.tu-muenchen.de</a> falls Sie eine VPN-Verbindung verwenden.</p>