@using ILK_Protokoll.util
@model IEnumerable<ILK_Protokoll.Areas.Session.Models.Lists.Holiday>

<h3>Urlaub</h3>

<table id="Holiday_table" class="table table-striped table-hover table-sortable">
	<thead>
		<tr>
			<th class="col-sm-3">
				@Html.DisplayNameFor(model => model.Person)
			</th>
			<th class="col-sm-3">
				@Html.DisplayNameFor(model => model.Occasion)
			</th>
			<th class="col-sm-5">
				Zeitraum
			</th>
			<th class="col-sm-1"></th>
		</tr>
	</thead>
	<tbody id="Holiday_tbody">
		@foreach (var item in Model)
		{
			Html.RenderPartial("_Row", item);
		}
	</tbody>
<tfoot>
	@if (!ViewBag.Reporting)
	{
		@Html.Action("_CreateForm", "LHolidays")
	}
	</tfoot>
</table>

@using (Html.Delayed(null, "List_Utilities"))
{
	<script type="text/javascript" src="~/Scripts/ListUtilities.js"></script>
}