<?xml version="1.0" encoding="utf-8"?>

<!-- Weitere Informationen zum Verwenden der Web.config-Transformation finden Sie unter "http://go.microsoft.com/fwlink/?LinkId=301874". -->

<configuration xmlns:xdt="http://schemas.microsoft.com/XML-Document-Transform">
	<!--
    Im folgenden Beispiel wird durch die Transformation "SetAttributes" der Wert von
    "connectionString" geändert, sodass "ReleaseSQLServer" nur verwendet wird, wenn
    vom Locator "Match" ein Attribut vom Typ "name" mit dem Wert "MyDB" gefunden wird.
  -->
	<connectionStrings>
		<add name="DataContext"
		     connectionString="Data Source=localhost;Initial Catalog=ILK-Protokoll;Integrated Security=True;Pooling=False;MultipleActiveResultSets=True"
		     providerName="System.Data.SqlClient" xdt:Transform="Replace" xdt:Locator="Match(name)" />
	</connectionStrings>
	<system.web>
		<compilation xdt:Transform="RemoveAttributes(debug)" />
	</system.web>
	<system.net>
		<mailSettings xdt:Transform="Replace">
			<smtp from="&quot;ILK-Protokoll Testumgebung&quot; &lt;no-reply@iwb.tum.de&gt;">
				<network enableSsl="false" host="mailout.iwb.mw.tu-muenchen.de" port="25" defaultCredentials="true" />
			</smtp>
		</mailSettings>
	</system.net>
</configuration>