@using ILK_Protokoll.util
@model ILK_Protokoll.Models.Comment

<div class="comment-panel-group">
	<p class="comment-author" title="@Model.Created.ToString("F")">@Model.Author</p>
	<p class="comment-content">@Html.DisplayWithLinksFor(model => model.Content, "String_Multiline")</p>
	@if (Model.ID == ViewBag.AllowDeletion)
	{
		<p class="comment-delete">
			@Ajax.ActionLink(" ", "_Delete", new {id = Model.ID}, new AjaxOptions {UpdateTargetId = "comments_" + Model.TopicID, Confirm = "Kommentar wirklich löschen?"}, new {@class = "glyphicon glyphicon-remove"})
		</p>
	}
</div>