@using ILK_Protokoll.util
@model ILK_Protokoll.Models.Comment

@using (Ajax.BeginForm("_Submit", "Comments", new AjaxOptions
{
	UpdateTargetId = "comments_" + Model.TopicID,
	OnBegin = "$('#comment_form_" + ViewBag.TopicID + "').submit(function(){return false;});",
	OnFailure = "DisplayErrorMessage('#comments_" + ViewBag.TopicID + "', 'Der Kommentar konnte nicht verarbeitet werden.<br />' + xhr.responseText); $('#comment_form_" + ViewBag.TopicID + "').unbind('submit');",
	OnSuccess = "PerformMasonryLayout();",
}, new {id = "comment_form_" + ViewBag.TopicID}))
{
	@Html.AntiForgeryToken()
	@Html.HiddenFor(model => model.TopicID)

	<div class="input-group">
		<span class="input-group-addon">@User.Identity.Name.Split('\\').Last()</span>
		<input type="text" name="Content" class="form-control" placeholder="Kommentar hinzufügen" id="comment_input_@Model.TopicID">
		<span class="input-group-btn">
			<button class="btn btn-default inputexpander" type="button"><span class="glyphicon glyphicon-align-justify"></span><span class="sr-only">Mehrzeilig</span></button>
		</span>
	</div>
}

<script type="text/javascript">
	$('#comment_form_@ViewBag.TopicID .inputexpander').click(function() { performCommentFormExpansion(this, @Model.TopicID); });
</script>

@using (Html.Delayed(null, "CommentFormExpansion"))
{
	<script type="text/javascript">
		function performCommentFormExpansion(button, topicid) {
			var input = $(button).parent().prev();
			var txtarea = $('<textarea name="Content" class="form-control" placeholder="Kommentar hinzufügen" id="comment_input_' + topicid + '" style="height: 120px; resize: none;"></textarea>');

			txtarea.val(input.val());
			input.replaceWith(txtarea);
			txtarea.focus();
			var len = txtarea.val().length;
			txtarea[0].setSelectionRange(len, len);
			txtarea.keydown(function(event) {
				if ((event.keyCode == 10 || event.keyCode == 13) && event.ctrlKey) {
					$("#comment_form_" + topicid).submit();
				}
			});

			PerformMasonryLayout();
			$(button).css('height', '120px').removeClass('btn-default').addClass('btn-primary');
			$(button).children(":first").removeClass('glyphicon-align-justify').addClass('glyphicon-check'); // Span element within
			$(button).off("click").click(function() {
				$("#comment_form_" + topicid).submit();
			});
		}

	</script>
}