@model ILK_Protokoll.Models.Comment

@using (Ajax.BeginForm("_Submit", "Comments", new AjaxOptions
{
	UpdateTargetId = "comments_" + Model.TopicID,
	OnBegin = "$('#comment_form_" + ViewBag.TopicID + "').submit(function(){return false;});",
	OnFailure = "DisplayErrorMessage('#comments_" + ViewBag.TopicID + "', 'Der Kommentar konnte nicht verarbeitet werden.'); $('#comment_form_" + ViewBag.TopicID + "').unbind('submit');",
}, new {id = "comment_form_" + ViewBag.TopicID}))
{
	@Html.AntiForgeryToken()
	@Html.HiddenFor(model => model.TopicID)

	<div class="input-group">
		<span class="input-group-addon">@User.Identity.Name.Split('\\').Last()</span>
		<input type="text" name="Content" class="form-control" placeholder="Kommentar hinzufügen" id="comment_input_@Model.TopicID">
	</div>
}