@model IEnumerable<ILK_Protokoll.Models.Comment>

<div class="panel-body" id="asdf">
	@foreach (var comment in Model)
	{
		Html.RenderPartial("~/Views/Shared/_Comment.cshtml", comment);
	}

	@Html.Action("_CreateForm", "Comments", new { TopicID = ViewBag.TopicID })
</div>