@{
	ViewBag.Title = "Sitzung beenden";
}

<div class="index-action">
	@Html.ActionLink("Zurück", "Index", "Discussion", new { Area = "Session" }, new { @class = "btn btn-default" })
	<button class="btn btn-primary disabled">Weiter</button>
</div>

<h2>@ViewBag.Title</h2>

@using (Html.BeginForm("Index", "Finalize", FormMethod.Post))
{
	@Html.AntiForgeryToken()
	<div class="form-group">
		@Html.ActionLink("Zurück", "Index", "Discussion", null, new { @class = "btn btn-lg btn-default" })

		<input type="submit" value="Sitzung beenden" class="btn btn-lg btn-danger" />
	</div>
}