@model ILK_Protokoll.Areas.Session.ViewModels.ReportViewModel
@{
	Layout = "../Shared/_Layout.cshtml";
}

	<div class="panel panel-primary">
		<div class="panel-heading">
			<h4>Kundenliste</h4>
		</div>
		<div class="panel-body">
			@Model.Title
		</div>
	</div>